* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url("https://i.ibb.co/fGvZD63/5319154.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
